<?xml version='1.0' encoding='utf-8'?>
<widget id="com.javipj.blocnotas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bloc de notas</name>
    <description>
        Tu aplicación par guardar notas
    </description>
    <author email="javipj@gmail.com" href="http://javipj.com">
        Javier Puit Juste
    </author>

    <content src="index.html" />
    <access origin="*" />
    
    <plugin name="cordova-plugin-buildinfo" spec="~1.1.0" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="~0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.3.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="~4.2.0">
        <variable name="URL_SCHEME" value="com.firebase.cordova" />
    </plugin>
	<universal-links>
	    <host name="yx9s4.app.goo.gl" scheme="https" />
	    <host name="blocnotas-941b6.firebaseapp.com" scheme="https">
		<path url="/__/auth/callback"/>
	    </host>
	</universal-links>


</widget>
